*{
  background-color: white;
  text-align: center;
  margin-top: 10px;
}
.title{
  font-weight:600;
  margin-top:20px;
  font-size:24px
}

.customBtn{
  border-radius:0px;
  padding:10px;
}
form input{
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  margin-left: 10px;
}
.container{
  border: 2px solid gray;
  width: 50%;
  height: 500px;
  margin-left: 25%;
  margin-top: 150px;
}
button{
  background-color: rgb(255, 143, 99);
  color: White;
  border-radius: 5px;
  margin-left: 5%;
  width: 60%;
  height: 50px;
  font-size: large;
}